body{
    background-color: teal;
    margin: 0%;
}
h1{
    color: white;
    font-size: 21px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    padding: 6px;
}
p{margin-top: 30px;
    font-size: 18px;
    font-weight: 800;
    color: aliceblue;
    font-style: italic;
    padding: 6px;

}